@tailwind base;
@tailwind components;
@tailwind utilities;
@media (max-width: 640px) {
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }

  button {
    padding: 10px;
    font-size: 14px;
  }
}